<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>com.pandazki.qr-reco</string>
    <key>category</key>
    <string>Tools</string>
    <key>connections</key>
    <dict>
      <key>18A2BE5F-B269-482B-A102-E4267BCA57B8</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>E91C78B7-01C8-4453-AA0C-247528948412</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>62359D05-A6B0-4BC1-8751-416EABAD7909</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>4F65424C-03A0-4E65-AE07-B32F99BB6616</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>E6D870FF-799D-4E4F-83AE-7A36FDBA2343</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>60BDC103-44CA-4088-8B69-DBC034A3FCCA</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>E91C78B7-01C8-4453-AA0C-247528948412</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>62359D05-A6B0-4BC1-8751-416EABAD7909</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>E6D870FF-799D-4E4F-83AE-7A36FDBA2343</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>Pandazki</string>
    <key>description</key>
    <string>QR Code Recognition</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>QR Code Recognition</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>browser</key>
          <string/>
          <key>spaces</key>
          <string/>
          <key>url</key>
          <string>{query}</string>
          <key>utf8</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.openurl</string>
        <key>uid</key>
        <string>4F65424C-03A0-4E65-AE07-B32F99BB6616</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>inputstring</key>
          <string>{query}</string>
          <key>matchcasesensitive</key>
          <false/>
          <key>matchmode</key>
          <integer>2</integer>
          <key>matchstring</key>
          <string>https?:\/\/.*</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.filter</string>
        <key>uid</key>
        <string>62359D05-A6B0-4BC1-8751-416EABAD7909</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false/>
          <key>escaping</key>
          <integer>102</integer>
          <key>script</key>
          <string>./node_modules/.bin/run-node index.js</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>type</key>
          <integer>0</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>E91C78B7-01C8-4453-AA0C-247528948412</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argumenttype</key>
          <integer>2</integer>
          <key>keyword</key>
          <string>qrreco</string>
          <key>subtext</key>
          <string>select an area of the screen to recognize</string>
          <key>text</key>
          <string>QR Code Recognize</string>
          <key>withspace</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.keyword</string>
        <key>uid</key>
        <string>18A2BE5F-B269-482B-A102-E4267BCA57B8</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>autopaste</key>
          <false/>
          <key>clipboardtext</key>
          <string>{query}</string>
          <key>transient</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.clipboard</string>
        <key>uid</key>
        <string>E6D870FF-799D-4E4F-83AE-7A36FDBA2343</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>lastpathcomponent</key>
          <false/>
          <key>onlyshowifquerypopulated</key>
          <true/>
          <key>removeextension</key>
          <false/>
          <key>text</key>
          <string>{query}</string>
          <key>title</key>
          <string>Content Copied!</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.notification</string>
        <key>uid</key>
        <string>60BDC103-44CA-4088-8B69-DBC034A3FCCA</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
    </array>
    <key>readme</key>
    <string/>
    <key>uidata</key>
    <dict>
      <key>18A2BE5F-B269-482B-A102-E4267BCA57B8</key>
      <dict>
        <key>xpos</key>
        <integer>90</integer>
        <key>ypos</key>
        <integer>130</integer>
      </dict>
      <key>4F65424C-03A0-4E65-AE07-B32F99BB6616</key>
      <dict>
        <key>xpos</key>
        <integer>640</integer>
        <key>ypos</key>
        <integer>50</integer>
      </dict>
      <key>60BDC103-44CA-4088-8B69-DBC034A3FCCA</key>
      <dict>
        <key>xpos</key>
        <integer>640</integer>
        <key>ypos</key>
        <integer>200</integer>
      </dict>
      <key>62359D05-A6B0-4BC1-8751-416EABAD7909</key>
      <dict>
        <key>xpos</key>
        <integer>490</integer>
        <key>ypos</key>
        <integer>80</integer>
      </dict>
      <key>E6D870FF-799D-4E4F-83AE-7A36FDBA2343</key>
      <dict>
        <key>xpos</key>
        <integer>480</integer>
        <key>ypos</key>
        <integer>200</integer>
      </dict>
      <key>E91C78B7-01C8-4453-AA0C-247528948412</key>
      <dict>
        <key>xpos</key>
        <integer>290</integer>
        <key>ypos</key>
        <integer>130</integer>
      </dict>
    </dict>
    <key>version</key>
    <string>1.1.3</string>
    <key>webaddress</key>
    <string>https://github.com/pandazki/alfred-qr-reco</string>
  </dict>
</plist>